/*HTML tags*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a{
  color: rgb(40, 44, 52);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #082032;
  color: #D8E3E7;
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  border-top: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 5px;
  color: #194350;
  width: 10%;
  margin: auto;
}

h1{
  color: #89C9B8;
}

h2{
  color: #89C9B8;
  padding-bottom: 10px;
}

h3{
  color: #6E85B2;
}

nav{
  height: 48px;
  width: 100%;
  background: #69DADB;
  position: fixed;
}

nav ul{
  text-align: center;
  margin-right: 40px;
}

nav li{
  display: inline-block;
  list-style: none;
  color: rgb(40, 44, 52);
  margin: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
  line-height: 30px;
}

nav li:hover{
  background-color: #DADDFC;
}

p{
  line-height: 2;
}

section{
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

/*HTML classes sorted alphabetically*/
.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 44, 52);
  font-size: 20px;
  background: #69DADB;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

.btn:hover {
  background: #00a2ff;
  color: rgb(40, 44, 52);
  text-decoration: none;
}

.center{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contactMessage{
  width: 40%;
  margin: 40px auto 60px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
}

.content{
  display: none;
}

.copyright{
  font-size: 0.75rem;
  padding: 10px 0;
}

.divHeader{
  padding: 200px 0px 200px 0px;
}

.divInfo{
  text-align: center;
  padding: 100px 0;
}

.divInfoSkill{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0px 0px 0px;
}

.divFooter{
  background-color: #007880;
  padding: 30px 0;
}

.divFooterIcons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.download{
  color: #396EB0;
}

.download:hover{
  color: #69DADB;
  cursor: pointer;
}

.footerImages{
  height: 30px;
  width: 30px;
}

.images{
  width: 50px;
}

.imageAlbum{
  color: #71DFE7;
  font-style: italic;
}

.imgHeader{
  border-radius: 200px;
  height: 180px;
  width: 180px;
}

.introduction{
  padding: 10px 0;
  width: 30%;
  margin: auto;
}

.link{
  margin: 10px 20px;
}

.link:hover{
  color: #69DADB;
}

.line{
  margin-top: 80px;
}

.loader{
  height: 100vh;
  overflow: hidden;
}

.loader>div{
  height: 100px;
  width: 100px;
  border: 15px solid #334756;
  border-top-color: #69DADB;
  position: absolute;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

.loadCenter{
  margin-left: 600px;
}

.style:hover{
  cursor: pointer;
}

.skillsDiv{
  /*padding-top: 20px;*/
}

.skill{
  padding: 1rem;
  cursor: pointer;
}

.skillTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.wrapper{
  width: 100%;
  height: 100%;
  /*Smooth scroll*/
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

@media screen and (max-width: 990px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .container{
    grid-template-columns: 1fr;
  }
}

/*Id's*/

/*Keyframes*/
@keyframes spin {
  /*Use keyframes to spin the animation*/
  100%{
    transform: rotate(360deg);
  }
}
